In [3]:
from load import load_sav

df = load_sav("../data/brilliant_working.sav")

In [4]:
df

,id,edition,a1,a2_1,a2_2,a3,a3_des,a4,a4_des,a5,...,social_3,social_4,social_5,social_6,sociability,trust_1,trust_2,trust_3,trust_4,Env_act
0,11372211.0,乙版,女,77.0,7.0,閩南人,999,閩南人,999,高職,...,3.0,3.0,3.0,3.0,17.0,3.0,4.0,2.0,2.0,2.8
1,11372212.0,乙版,男,76.0,9.0,閩南人,999,閩南人,999,國(初)中,...,4.0,2.0,2.0,3.0,16.0,3.0,3.0,2.0,2.0,2.8
2,11372213.0,乙版,女,74.0,2.0,閩南人,999,閩南人,999,國(初)中,...,3.0,2.0,2.0,3.0,16.0,3.0,3.0,1.0,2.0,2.6
3,11372509.0,甲版,男,83.0,10.0,閩南人,999,外省人,999,國(初)中,...,4.0,4.0,3.0,3.0,19.0,2.0,3.0,1.0,1.0,3.0
4,11372517.0,甲版,女,48.0,9.0,客家人,999,閩南人,999,小學畢業,...,3.0,2.0,3.0,3.0,16.0,3.0,3.0,2.0,2.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
863,23401723.0,乙版,女,49.0,1.0,閩南人,999,閩南人,999,小學肄業,...,2.0,2.0,2.0,2.0,13.0,1.0,4.0,1.0,1.0,3.0
864,23401724.0,乙版,女,69.0,10.0,閩南人,999,閩南人,999,小學畢業,...,3.0,4.0,3.0,2.0,17.0,1.0,3.0,1.0,1.0,2.6
865,23401830.0,乙版,女,39.0,10.0,閩南人,999,閩南人,999,小學畢業,...,3.0,4.0,4.0,4.0,22.0,1.0,4.0,1.0,1.0,2.8
866,23401915.0,乙版,男,68.0,4.0,閩南人,999,閩南人,999,國(初)中,...,2.0,2.0,2.0,2.0,13.0,2.0,3.0,2.0,1.0,3.2
867,23402017.0,甲版,男,42.0,12.0,閩南人,999,客家人,999,小學畢業,...,3.0,3.0,3.0,3.0,16.0,3.0,3.0,1.0,1.0,3.2

# 教育程度（a8）、個人收入（b1）兩個變數的相關分析

In [5]:
df_1 = df[["a8", "b1"]].copy().rename(columns = { 'a8': 'education', 'b1': 'income' })

In [6]:
print(df_1['education'].value_counts())
print('\n')
print(df_1['income'].value_counts())

education
大學         210
高職         161
高中職業科       96
國(初)中       91
技術學院、科大     60
小學肄業        55
二專          49
五專          41
碩士          41
高中普通科       31
三專           6
軍警專科班        5
空中大學         4
博士           4
無            4
空中行專         3
士官學校         2
軍警官學校        2
自修           1
軍警專修班        1
初職           1
Name: count, dtype: int64


income
3萬元以上，未滿4萬元      201
無收入              139
2萬元以上，未滿3萬元      137
4萬元以上，未滿5萬元       96
5萬元以上，未滿6萬元       74
1萬元以上，未滿2萬元       68
未滿1萬元             29
7萬元以上，未滿8萬元       27
6萬元以上，未滿7萬元       25
14萬元以上            24
9萬元以上，未滿10萬元      19
10萬元以上，未滿11萬元     12
8萬元以上，未滿9萬元        8
12萬元以上，未滿13萬元      4
11萬元以上，未滿12萬元      1
Name: count, dtype: int64

## Filter out "無" from education

In [7]:
df_1_filtered = df_1.query("education not in ['無', '初職', '自修']")
print(df_1_filtered['education'].value_counts())
print('\n')
print(df_1_filtered['income'].value_counts())

education
大學         210
高職         161
高中職業科       96
國(初)中       91
技術學院、科大     60
小學肄業        55
二專          49
五專          41
碩士          41
高中普通科       31
三專           6
軍警專科班        5
空中大學         4
博士           4
空中行專         3
士官學校         2
軍警官學校        2
軍警專修班        1
自修           0
初職           0
無            0
Name: count, dtype: int64


income
3萬元以上，未滿4萬元      201
2萬元以上，未滿3萬元      137
無收入              134
4萬元以上，未滿5萬元       96
5萬元以上，未滿6萬元       74
1萬元以上，未滿2萬元       67
未滿1萬元             29
7萬元以上，未滿8萬元       27
6萬元以上，未滿7萬元       25
14萬元以上            24
9萬元以上，未滿10萬元      19
10萬元以上，未滿11萬元     12
8萬元以上，未滿9萬元        8
12萬元以上，未滿13萬元      4
11萬元以上，未滿12萬元      1
Name: count, dtype: int64

## Encode for education
Rules：
1. 小學
2. 國中
3. 高中職
4. 大學與專科
5. 研究所以上

In [8]:
import numpy as np

def categorize_education(value):
    category_mapping = {
        '小學肄業': 1,
        '國(初)中': 2,
        '高職': 3,
        '高中職業科': 3,
        '高中普通科': 3,
        '大學': 4,
        '技術學院、科大': 4,
        '二專': 4,
        '五專': 4,
        '三專': 4,
        '空中大學': 4,
        '軍警專科班': 4,
        '空中行專': 4,
        '士官學校': 4,
        '軍警官學校': 4,
        '軍警專修班': 4,
        '博士': 5,
        '碩士': 5
    }
    
    return category_mapping.get(value, 0)

df_1_encoded = df_1_filtered.copy()
df_1_encoded.loc[:, 'education_encoded'] = df_1_encoded['education'].apply(categorize_education)

## Encode for education
Rules：
1. 無收入
2. 低收入（未滿2萬元）
3. 中低收入（2-4萬元）
4. 中等收入（4-6萬元）
5. 中高收入（6-8萬元）
6. 高收入（8萬元以上）

In [9]:
import numpy as np

def categorize_income(value):
    income_mapping = {
        '無收入': 1,
        '未滿1萬元': 2,
        '1萬元以上，未滿2萬元': 2,
        '2萬元以上，未滿3萬元': 3,
        '3萬元以上，未滿4萬元': 3,
        '4萬元以上，未滿5萬元': 4,
        '5萬元以上，未滿6萬元': 4,
        '6萬元以上，未滿7萬元': 5,
        '7萬元以上，未滿8萬元': 5,
        '8萬元以上，未滿9萬元': 6,
        '9萬元以上，未滿10萬元': 6,
        '10萬元以上，未滿11萬元': 6,
        '11萬元以上，未滿12萬元': 6,
        '12萬元以上，未滿13萬元': 6,
        '14萬元以上': 6
    }
    
    return income_mapping.get(value, 0)


df_1_encoded.loc[:, 'income_encoded'] = df_1_encoded['income'].apply(categorize_income)

## 「完全排除遺漏值」

In [10]:
df_1_drop_missing_value = df_1_encoded.dropna()

### Perform Pearson Correlation

In [18]:
from scipy.stats import pearsonr
import numpy as np

from statistic.pearson import pearson_correlation_table

results, corr_coef, p_value = pearson_correlation_table(df_1_drop_missing_value, 'education_encoded', 'income_encoded')
results

                            Metric              Value
0  Pearson Correlation Coefficient             0.3280
1                          P-value             0.0000
2                      Sample Size                858
3      Significance Level (α=0.05)        Significant
4                   Interpretation  Moderate Positive

## 以「數列平均數」置換個人收入的遺漏值，並以此置換後的新變數做與教育程度的相關分析

In [12]:
df_1_replace_by_average = df_1_encoded.copy()

In [13]:
df_1_replace_by_average.info()

<class 'pandas.core.frame.DataFrame'>
Index: 862 entries, 0 to 867
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   education          862 non-null    category
 1   income             858 non-null    category
 2   education_encoded  862 non-null    int64
 3   income_encoded     858 non-null    float64
dtypes: category(2), float64(1), int64(1)
memory usage: 23.3 KB

In [14]:
df_1_replace_by_average.loc[:, 'income_encoded'] = df_1_replace_by_average['income_encoded'].fillna(df_1_replace_by_average['income_encoded'].mean())

In [15]:
df_1_replace_by_average.info()

<class 'pandas.core.frame.DataFrame'>
Index: 862 entries, 0 to 867
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   education          862 non-null    category
 1   income             858 non-null    category
 2   education_encoded  862 non-null    int64
 3   income_encoded     862 non-null    float64
dtypes: category(2), float64(1), int64(1)
memory usage: 23.3 KB

In [19]:
results, corr_coef, p_value = pearson_correlation_table(df_1_replace_by_average, 'education_encoded', 'income_encoded')
results

                            Metric              Value
0  Pearson Correlation Coefficient             0.3272
1                          P-value             0.0000
2                      Sample Size                862
3      Significance Level (α=0.05)        Significant
4                   Interpretation  Moderate Positive