In [1]:
import pandas as pd

# Display settings for better table formatting
pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)
pd.set_option('display.max_colwidth', None)

In [1]:
from mock import create_mock_dataframe

mock_df = create_mock_dataframe(num_rows=20)

print("ðŸ“Š Mock Employee Data Table")
print("=" * 50)
print(f"Total Records: {len(mock_df)}")
print(f"Columns: {list(mock_df.columns)}")
print("=" * 50)

# Display the table
mock_df

ðŸ“Š Mock Employee Data Table
==================================================
Total Records: 20
Columns: ['ID', 'Name', 'Department', 'Salary', 'Age', 'City', 'Join_Date', 'Performance_Score', 'Is_Remote', 'Projects_Completed']
==================================================

,ID,Name,Department,Salary,Age,City,Join_Date,Performance_Score,Is_Remote,Projects_Completed
0,1,Bob Smith,Marketing,"$82,450.71",24,Taipei,2021-01-28,2.04,True,11
1,2,Alice Johnson,Operations,"$72,926.04",58,Tainan,2023-12-13,3.65,False,4
2,3,Eve Wilson,Operations,"$84,715.33",28,Taipei,2020-05-22,2.25,True,8
3,4,Diana Prince,Operations,"$97,845.45",42,Taichung,2020-04-03,3.08,False,12
4,5,Diana Prince,Finance,"$71,487.70",30,Taichung,2023-09-16,3.19,True,5
5,6,Charlie Brown,HR,"$71,487.95",60,Hsinchu,2021-04-11,1.74,False,7
6,7,Bob Smith,Marketing,"$98,688.19",39,Taichung,2021-08-15,4.88,False,8
7,8,Ivy Chen,HR,"$86,511.52",25,Taipei,2020-06-12,4.10,True,6
8,9,Bob Smith,Finance,"$67,957.88",46,Keelung,2021-04-21,4.76,True,11
9,10,Jack Taylor,Sales,"$83,138.40",35,Tainan,2020-07-25,4.58,False,6
10,11,Grace Lee,Engineering,"$68,048.73",30,Hsinchu,2022-02-17,3.39,False,8
11,12,Alice Johnson,Marketing,"$68,014.05",47,Taipei,2021-07-23,4.69,False,9
12,13,Alice Johnson,Operations,"$78,629.43",23,Tainan,2022-07-17,1.35,False,11
13,14,Bob Smith,HR,"$46,300.80",41,Taipei,2023-07-25,1.78,True,5
14,15,Diana Prince,Sales,"$49,126.23",49,Hsinchu,2022-01-17,1.18,False,9
15,16,Diana Prince,Sales,"$66,565.69",28,Taichung,2020-11-29,2.30,True,8
16,17,Ivy Chen,Marketing,"$59,807.53",29,Keelung,2022-01-28,2.55,False,9
17,18,Jack Taylor,Marketing,"$79,713.71",56,Hsinchu,2021-12-28,2.09,False,8
18,19,Alice Johnson,Sales,"$61,379.64",35,Taichung,2021-03-05,4.31,False,12
19,20,Ivy Chen,Engineering,"$53,815.44",38,Hsinchu,2023-10-04,2.43,True,15